
.sidebar {
    border-left: solid #f0f0f0 1px;
    overflow: auto !important;
    position: fixed !important;
    right: 0 !important;
    height: 100vh;
}

.sidebarLogo {
    margin: 0px 0px 15px 0px;
    padding-top: 5px;
    width: 100%;
    height: 130px;
}

.logoSidebarImage {
    margin: 0;
    border-radius: 2px;
    max-height: 130px;

}

.siderMenu {
    border: none !important;
}

.menuTitle {
    color: #dadada;
    margin-right: 20px;

}

.userSection {
    color: #fdfdfd !important;
    text-align: center;
}

.siderFooter {
    width: 100%;
    position: absolute;
    bottom: 70px;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.pageTitle {
    margin-top: 25px;
}

.innerLayout {
    transition: margin-right .2s ease-in-out;
}

.logo {
    height: 65px;
    width: 220px;
    margin: 10px -25px 0 0;
    float: left;
    padding: 5px 10px 0px 10px;
    border-radius: 5px;
    background-color: white;
}

.content {
    padding: 24px;
    min-height: 91.2vh;
    background-color: #fff;
}

.header {
    height: 85px !important;
}

.select_project {
    padding: 0 5px !important;
}

.select_project label {
    color: white !important;
    margin-right: 5px;
}